.main-container{
    max-width: 1280px;
    margin: 0 auto;

}
.bg-wrap{
    background-image: url("../../assets/images/start-screen-gradient-background.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 908px;
    position: relative;
}
header{
    max-width:1200px;
    height: 60px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}
h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.cozy-house-wrap h4{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
.cozy-house-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    font-weight: 400;
    color: #FAFAFA;
    margin-left: 36px;
    border: 3px;
  
}

.navbar a:hover{
    border-bottom: solid 3px #F1CDB3;
}

.not-only-container{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.not-only-left-wrap{
    max-width: 502px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;  
}
.not-only-text-content{
    margin-top: 223px;
}
.not-only-text-content h3{
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    max-width: 310px;
    color: #FFFFFF;
}
.not-only-text-content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    width: 100%;
    height: 72px;
    margin: 42px 0;
}
#makeAFriend-button {
    max-width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
    transform: .5s;
    
}
#makeAFriend-button:hover{
    background-color: #FDDCC4;
}

.not-only-right-wrap{
    max-width: 728px;
    height: 728px;

}
#start-screen-puppy{
    max-width: 728px;
    width: 100%;
    margin-top: 120px;
}

/* main */

.about-shelter-container{
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-shelter-right-wrapp h3{
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color:#545454;
    margin-bottom: 23px;
    margin-top: 20px;
    max-width: 370px;
}
.about-shelter-right-wrapp p{
    max-width: 430px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: start;
}
#about-second-text{
    margin-top: 25px;
}
/* our-fried-block*/
.our-Friends-block{
    background: #F6F6F6;
    width: 100%;
}
.our-friends-heading{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 60px 0;
}
.slider{
    width: 95%;
    margin: 0 auto;
    display: flex;

}
.card-wrap{
    width: 1134px;
    display: flex;
    overflow: hidden;
    margin: 0 72px;
}
.card{
    width: 270px;
    background:#FAFAFA ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 70px;
    cursor: pointer;
}
.card-content{
    margin-top: 30px;
}
.card-content h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.learnMoreBtn{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #292929;

}
.learnMoreBtn:hover{
    background-color: #FDDCC4;
}
.firstArrow{
    height: 52px;
    width: 54px;
    border-radius: 100px;
    background: url("../../assets/icons/Arrowleft.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 210px;
    border: 2px solid #f1cdb3;
}
.secondArrow{
    height: 52px;
    width: 54px;
    border-radius: 100px;
    background: url("../../assets/icons/Arrowright.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 210px;
    border: 2px solid #f1cdb3;
}
.slider button:hover{
    background-color: #FDDCC4;
}
.Get-to-know-the-rest-button{
    width: 261px;
    height: 52px;
    padding: 15px, 45px, 15px, 45px;
    gap: 10px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    cursor: pointer;  
    margin-bottom: 100px;
   
}
.Get-to-know-the-rest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
.help{
    width: 94%;
    margin: 0 auto;
    background-color: rgb(182, 176, 176);
    height:80vh;
}
.help-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.help-heading h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    max-width: 308px;
    color: #545454;
}
.list-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}
.list-column img {
    margin-bottom: 30px;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   gap: 5vh;
   padding: 10px;
   width: 100%;
   justify-content: center;

}
/* donation */
.donation{
    width: 100%;
    background: #F6F6F6;
    height: 462px;
   
}
.donation-wrap{
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 91px 0 110px 0;
}

.donation-right-wrap{
    display: flex;
    flex-direction: column;

}
.donation-right-wrap h3{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

}
.donation-right-wrap p {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
#donation-text{
    font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}