html{
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#header{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    height:120px ;
    background-color: #FFFFFF;
}
.cozy-house-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}
h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
}
.cozy-house-wrap h4{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    margin-left: 3px;

}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.navbar a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    font-weight: 400;
    color: #292929;
    margin-left: 36px;
    border: 3px;
    font-family: 'Arial';
    font-style: normal;
  
}
.navbar a:hover{
    border-bottom: solid 3px #F1CDB3;
}
#our-pets-style{
    border-bottom: solid 3px #F1CDB3;
}
/* main */
main{
    max-width: 1280px;
    margin: 0 auto;
    background: #F6F6F6;
}
.our-friends-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 60px 0;
    color: #545454;
}

.card-wrap {
    display: flex;
    justify-content: space-around;
    transition: 1s;
    flex-wrap: wrap;
}
.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;;
    cursor: pointer;
    margin-bottom: 30px;
}
.card:hover .learnMoreBtn {
    background-color: #FDDCC4;
  
  }
  .card img {
    width: 100%;
}
.card img:hover{
    background-color: #FFFFFF;
}
.card p {
    color: #545454;
    text-align: center;
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.learnMoreBox{
    display: flex;
    justify-content: center;
}
.learnMoreBtn{
    color: #292929;
    font-size: 17px;
    font-family: 'Georgia';
    font-style: normal;
    border: 2px solid #F1CDB3;
    letter-spacing: 0.06em;
    padding: 10px 15px;
    border-radius: 2rem;
    cursor: pointer;
    background: #FAFAFA;
    height: 52px;
    width: 187px;
}

.slider-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 100px;
}
.right-slider-btn-1:hover{
    background-color: #f1cdb3;
    cursor: pointer;
}
.right-slider-btn-2:hover{
    background-color: #f1cdb3;
    cursor: pointer;
}
.left-slider-btn-1,
.left-slider-btn-2{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
}
.slider-pagination-btn{
    width: 52px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
    border: none;
    color: #292929;
    letter-spacing: 0.06em;
    line-height: 115%;
    font-size: 20px;
}
.right-slider-btn-1,
.right-slider-btn-2 {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: none;
    color: #292929;
    border: 2px solid #f1cdb3;;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
}

/* footer */
.footer{
    background-image: url("../../assets/images/footer-gradient-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    
}
#footerPuppyIMG{
 
    margin-top: 40px;
}
.footer-column{
    width: 280px;
}
#mapcontent{
    width: 300px;
}
#marker-width{
    margin-left: 25px;
    font-family: 'Georgia';
    font-style: normal;
}
#thirdFooterCont{
    padding-top: 25px;
    width: 280px;
    display: flex;
    align-items: center;
    font-family: 'Georgia';
font-style: normal;
    
}

#thirdFooterCont a {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    font-family: 'Georgia';
    font-style: normal;
}
#marker-park {
    margin-left: 26px;
}
#email,
#tel{
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal; 
    
}
.footer-content{
    width: 280px;;
    display: flex;
    
    align-items: center;
}
.footer-column h3, span{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 40px;
    font-family: 'Georgia';
    font-style: normal;

}

#footer-content{
    margin-bottom: 20px;
}
.footer-content a{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    
}
.footer-wrapp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-around;
    align-items: center;
}
#firstWrap{
    margin-bottom: 13px;
}
.burger-menu{
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    align-items: center;
  }
#burger-nav-underline{
      border-bottom: 3px solid #dfb394;
  }
.menu li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FAFAFA;
    line-height: 160%;
}
.menu{
    /* display: none; */
    margin-right: 100px;
}
.menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}
.burger-line{
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-icon{
    margin-left: 30px;
    margin-top: 65px;

}
.petsofInfo{
    width: 100%;
    min-height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(80, 74, 74, 0.5);
    display: none;
}

.petsofInfo.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.petsofInfocontainers{
    width: 750px;
    position: relative;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.petsofInfo-container{
    background: #fff;
    width: 630px;
    display: flex;
    align-items: center;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.pets-info h3{
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.pets-info h4{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.pets-info{
    width: 260px;
    margin: 0 auto;
}

.petData{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.petData p{
    margin-bottom: 4px;
    
}
.boldinfo{
    font-weight: bold;
    font-size: 20px;
}
.cancelIcon{
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 25px;
    cursor: pointer;
    border: 3px solid #d71313;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 30px;
    right: 70px;
    color: #d71313;
    
}
.cancelIcon:hover{
    background-color: #d4a582;
}

.menuspan{
    display: none;
}

.menu-bars{
    font-size: 32px;
    color: #F1CDB3;
    cursor: pointer;
    transition: 0.4s;
}
.menu-bars:hover {
    transform: rotate(90deg);
}

.menu-container{
    display: none;
    position: absolute;
    right: 100px;
    top: 120px;
    width: 65%;
    background-color: #292929;
    text-align: center;
    
}

.menu-container li {
    padding-bottom: 50px;
    width: 100%;
}
.menu-container a {
    color: white;
    
}



@media only screen and (max-width: 1280px){
    .not-only-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bg-wrap{
        height: 1320px;
    }
    #start-screen-puppy{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .not-only-right-wrap{
        max-width: 569px;
    }
    #makeAFriend-button{
       margin-left: 120px;
    }
    .cozy-house-wrap{
        margin-left: 30px;
    }
    .navbar{
        margin-right: 30px;
    }
}


@media only screen and (max-width: 768px) and (min-width: 200px){
.navbar{
    display: none;
}
.menuspan{
    display: block;
    position: absolute;
    right: 53px;
    top: 51px;
    z-index: 6;
}
.not-only-text-content h3{
  font-size: 25px;
}
.start-screen-puppy{
margin-left:2px ;
}
.bg-wrap{
height: auto;
}
h1{
  font-size: 32px;
  line-height: 110%;
  width: 190px;
  margin-top: 35px;
  
}
.cozy-house-wrap h4 {
  font-size: 13px;
}
.not-only-text-content h3{
 width: 200px;
text-align: center;
margin-left: 22%;

}
.not-only-text-content p {
 font-size: 15px;
 width: 310px;
 line-height:  24px;
 text-align: center;

}
#makeAFriend-button{
margin-top: 80px;
margin-left: 15%;
}
.donation-wrap{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#donation-text{
    max-width: 390px;
}
.footer-wrapp{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-column{
    margin-top: 30px;
}
.our-friends-title h3 {
    font-size: 25px;
}
.slider-buttons{
    width: 100%;
    padding: 10px;
}
.footer-column h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
 }
 .footer-column span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
 }
 #marker-width{
     margin-left: 10px;
 }
 #marker-park {
     margin-left: 10px;
 }
 .footer-column {
     margin: 40px 0;
 }
 #footerPuppyIMG {
     width: 260px;
 }
}